header {
    font-size: 24px;
    color: blue
}

body {
    background: oldlace;
    
}
.instructions {
    color: red;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

#random-number {
    background: orange;
    font-size: 48px;
    color: black;
}

#wins-loss {
    background: aquamarine;
    font-size: 24px;
    color: black

}

#scorebox {
    background: orange;
    font-size: 24px;
    color: black;
}

#total-score-div {
    background: teal;
    font-size: 48px;
    color: black;
}
/* Crystals css */

.crystals {
    width: 90%;
    height: 300px;
    border: 25px solid blue;
    padding: 25px;
    margin: 25px;
    float: 10px;
    margin: auto;   
}

#crystal1 {
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: auto;
}

#crystal2 {
    width: 250px;
    height: 250px;
    padding: 10px;
}

#crystal3 {
    width: 250px;
    height: 250px;
    padding: 10px;
}

#crystal4 {
    width: 250px;
    height: 250px;
    padding: 10px;
}